@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body,
html {
  font-family: Open Sans;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  min-height: 100%;
  color: #fff;
}

body {
  background: #212b5d;
  background-image: linear-gradient(180deg, #0b0a30, #283470);
}

a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

a,
button,
badge {
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

badge {
  letter-spacing: -0.7px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

p,
span {
  font-size: 14px;
  line-height: 20px;
}
