@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body,
html {
  font-family: Open Sans;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  min-height: 100%;
  color: #fff;
  min-width: 992px;
}

body {
  background: #212b5d;
  background-image: linear-gradient(180deg, #0b0a30, #283470);
}

#root {
  position: relative;
  z-index: 200;
}

#modal > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 300;
}

a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

p,
span {
  font-size: 14px;
  line-height: 20px;
}
